
<div class = "find_center">
    <h2>&nbsp;Trouver un centre de vaccination</h2>
    <input type="text" [(ngModel)]="city" placeholder="Rechercher par ville">
    <button (click)="searchByCity()">Rechercher</button>
    <ul>
        <li *ngFor="let centre of centers">
          <strong>ID:</strong> {{ centre.id }}<br>
          <strong>Nom:</strong> {{ centre.name }}<br>
          <strong>Adresse:</strong> {{ centre.adress }}<br>
          <strong>Code Postal:</strong> {{ centre.postalCode }}<br>
          <strong>Ville:</strong> {{ centre.city }}<br>
          <hr> <!-- Une ligne horizontale pour séparer chaque centre -->
        </li>
      </ul>


        <ul>
<!--
            <div class = "details">

                <li *ngFor="let aCenter of centers"
                [ngClass]="selected==aCenter ? 'selected' : ''">


                <!--
                <button routerLink="/centers/detail/{{aCenter.id}}">
                    {{aCenter.name}}
                </button>
                <button routerLink="/centers?city={{aCenter.city}}">
                    {{aCenter.name}}
                </button>
                -->
                <!--
                <button
                [ngStyle]="{'font-weight' : isSpecialCenter(aCenter) ? 'bold' : 'normal'}"
                (click)="selectCenter(aCenter)">
                {{aCenter.name}}
                </button>

                </li>

            </div>
        -->

        </ul>
        <!-- <app-vaccination-center (deleted)="onDeleted($event)"></app-vaccination-center> -->
        <br>
</div>



<!--<app-vaccination-center [center] = "selected"></app-vaccination-center> -->

<div *ngIf="selected" class = "detail">
    <h2>{{selected.name | uppercase}}</h2>
    <div>{{selected.adress | lowercase}}
        <span>{{selected.postalCode}} {{selected.city | uppercase}}</span>
    </div>
</div>

<div class = "sumit_co">
    <a href="http://localhost:4200/infos_perso">Réserver</a>
</div>
