.find_center{
    border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
	margin-top: 100px;
}


.selected button{
    background-color: aquamarine;
}
.detail{

    background-color: aquamarine;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    height: 80px;
    width: 400px;
}


.sumit_co{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 70px;
	margin-left: auto;
    margin-right: auto;
}
