
<div class = "find_center">
    <h2>&nbsp;Trouver un centre de vaccination</h2>

        <div>
            &nbsp; <form action= "" method="get" class = "form">
            &nbsp; <input type="text" id = "city" /><br><br>
            <!--<input type="submit" id = "city"/><br><br>-->
            </form>
    
    
        </div>

        <ul>

            <div class = "details">

                <li *ngFor="let aCenter of centers"
                [ngClass]="selected==aCenter ? 'selected' : ''">
       
          
                <!--    
                <button routerLink="/centers/detail/{{aCenter.id}}">
                    {{aCenter.name}}
                </button>
                <button routerLink="/centers?city={{aCenter.city}}">
                    {{aCenter.name}}
                </button>
                -->
                <button 
                [ngStyle]="{'font-weight' : isSpecialCenter(aCenter) ? 'bold' : 'normal'}"
                (click)="selectCenter(aCenter)">
                {{aCenter.name}}
                </button>

                </li>  
    
            </div>
   
    
        </ul>
        <!-- <app-vaccination-center (deleted)="onDeleted($event)"></app-vaccination-center> -->
        <br>
</div>



<!--<app-vaccination-center [center] = "selected"></app-vaccination-center> -->

<div *ngIf="selected" class = "detail">
    <h2>{{selected.name | uppercase}}</h2>
    <div>{{selected.adress | lowercase}}
        <span>{{selected.postalCode}} {{selected.city | uppercase}}</span>
    </div>
</div>

<div class = "sumit_co">
    <a href="http://localhost:4200/infos_perso">Réserver</a>
</div>
