.selected button{
    background-color: aquamarine;
}
.detail{

    background-color: aquamarine;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    height: 80px;
    width: 400px;
}

.Info_perso{
    background-color: burlywood;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 250px;
    width: 400px;
}

.RDV_OK{
    background-color: pink;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 100px;
    width: 400px;
}