
.connex{
	text-align: center;
	border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    height: 250px;
    width: 500px;
	margin-left: auto;
    margin-right: auto;
	margin-top: 100px;
}

.sumit_co{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 70px;
	margin-left: auto;
    margin-right: auto;
}

.sumit_co1{
    border: solid black 2px;
    width: 100px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.sumit_co2{
    border: solid black 2px;
    width: 150px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    display: flex;
    justify-content: center;
    float: left;
}

.sumit_co3{
    border: solid black 2px;
    width: 200px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    display: flex;
    justify-content: center;
    float: right;
    
}

.sumit_co4{
    border: solid black 2px;
    width: 200px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    display: flex;
    justify-content: center;
    float: left;
}

.submit_form{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    cursor: pointer;
    height: 20px;
    width: 100px;
	margin-left: auto;
    margin-right: auto;
}

.an_input{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    cursor:pointer;
}

.an_input:hover {
    border: 1px solid rgb(224, 153, 153);
    background-color:  rgb(224, 153, 153);
  }