
<div class = "sumit_co2">
  <a href="http://localhost:4200/centers">Revenir aux centres</a>
</div>



<div class = "sumit_co4">
  <a href="http://localhost:4200/reservation">Vers la page de reservation</a>
</div>

<div class = "connex">
    <h2>Connexion</h2>
    <br>
    <form class = "pg_co">
      <label for="uname">Login:&nbsp;</label>
      <input type="text" required id="uname" name="uname" class="an_input" ><br><br>
      <label for="pass">Password:&nbsp;</label>
      <input type="password" id="pass" name="pass" class="an_input" ><br><br><br>
      
      <button class = "submit_form" (click)="login()"><strong>Se connecter</strong></button>
      <br><br>

      <!-- <div class = "sumit_co">
        <a href="http://localhost:4200/centers">Connexion</a>
      </div> -->
      <span>Pas de compte ?</span>
      <div class = "sumit_co3">
        <a href="http://localhost:4200/new_user">Création d'un utilisateur</a>
      </div>
    </form>
      
    

            
    </div>
