
<div class = "sumit_co2">
  <a href="http://localhost:4200/centers">Revenir aux centres</a>
</div>

<div class = "sumit_co3">
  <a href="http://localhost:4200/new_user">Création d'un utilisateur</a>
</div>

<!-- <div class = "sumit_co4">
  <a href="http://localhost:4200/reservation">Vers la page de reservation</a>
</div> -->

<div class = "connex">
    <h2>Connexion</h2>
    <br>
    <label for="uname">Username:&nbsp;</label>
    <input type="text" id="uname" class="an_input" [(ngModel)]="username"><br><br>
    <label for="pass">Password:&nbsp;</label>
    <input type="text" id="pass" class="an_input" [(ngModel)]="password"><br><br><br>
      <button class = "sumit_co1" (click)="onSubmit()"><strong>Se connecter</strong></button>
      <!-- <div class = "sumit_co">
        <a href="http://localhost:4200/centers">Connexion</a>
      </div> -->
      
    </div>
<br><br>

  <!-- <div class = "allusers">
    <button class = "allreserv" (click)="getAllUtilisateurs()"><strong>Voir tous les utilisateurs</strong></button>
    <ul>
      <li *ngFor="let user of utilisateurs" [ngClass]="selected==user ? 'selected' : ''">
          
          <strong>Prénom:</strong> {{ user.prenom }}<br>
          <strong>Nom:</strong> {{ user.nom }}<br>
        <strong>Adresse mail:</strong> {{ user.email }}<br>
        <strong>Login:</strong> {{ user.login }}<br>
        <hr> 
      </li>
  </ul>
  </div> -->
