.sumit_co1{
    border: solid black 2px;
    width: 80px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    cursor: pointer;
    justify-content: center;
    float: right;

}

.user_con{
    display: flex;
}

.cocoa{
    flex: 1;
}

.log_out{
    flex: 1;
}

.connect{
    border: solid black 2px;
    width: 90px;
    border-radius: 6px;
    background-color: rgba(225, 189, 224, 0.541);
    display: flex;
    justify-content: center;
    float: right;
    cursor: pointer;

}