.titre{
    width: 500px;
	margin-left: auto;
	margin-right: auto; 
    justify-content: center; 
}

.Info_perso{
    background-color: rgb(252, 200, 208);;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 380px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}


h3{
    color: black;
	font-variant: small-caps;
	letter-spacing: 2px;
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	margin-top: 10px;
	margin-right: 5%;
	text-align: center;
	font-size: 25px;
	font-family: Didot;
}


.bout_reserv{
    display: block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(250, 239, 240);
    border-radius: 6px;
    cursor: pointer;
    height: 20px;
    width: 90px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color:  black;
}

[required] {
    border: 2px solid  rgb(237, 13, 13);
    border-radius: 6px;
 }

.erreur {
    color:rgb(165, 12, 12);
    border-radius: 6px;
}

.sumit_retour{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 100px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.bout_getall{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 180px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
