.Info_perso{
    background-color: rgb(252, 200, 208);;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 250px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: black;
	font-variant: small-caps;
	letter-spacing: 2px;
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	margin-top: 10px;
	margin-right: 5%;
	text-align: center;
	font-size: 25px;
	font-family: Didot;
}

.sumit_co{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(249, 237, 248, 0.782);
    border-radius: 6px;
    height: 20px;
    width: 70px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.titre{
    width: 500px;
	margin-left: auto;
	margin-right: auto; 
    justify-content: center;
}

.centre_selec{
    border: solid black 5px;
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}