.bout_getall{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 180px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bout_getall2{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 250px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bout_getall3{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 220px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bout_getall4{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 150px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.titre{
    width: 500px;
	margin-left: auto;
	margin-right: auto; 
    justify-content: center; 
}

h3{
    color: black;
	font-variant: small-caps;
	letter-spacing: 2px;
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
	margin-top: 10px;
	margin-right: 5%;
	text-align: center;
	font-size: 25px;
	font-family: Didot;
}

.Info_perso{
    background-color: rgb(252, 200, 208);;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 330px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.Info_perso2{
    background-color: rgb(252, 200, 208);;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 480px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.bout_reserv{
    display: block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color: rgb(250, 239, 240);
    border-radius: 6px;
    cursor: pointer;
    height: 20px;
    width: 100px;
	margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color:  black;
}

[required] {
    border: 2px solid  rgb(237, 13, 13);
 }

.erreur {
    color:rgb(165, 12, 12);
}


.find_center{
    border: solid black 4px;
    border-radius: 10px;
    margin-top: 100px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;  
    background-color: white;     
}

.search_cent{
    display: block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color:  rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 90px;
    margin-right: 10px;
    flex: 1;
    justify-content: center;
    color:  black;
    cursor: pointer;
}

.search_bar{
    margin-right: 5px;
    border-radius: 6px;
    flex: 3;
}

.recherche{
    display: flex;
}


.select_center{
    display: block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color:  rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 90px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color:  black;
    cursor: pointer;
}

.select_center2{
    display: block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    background-color:  rgba(225, 189, 224, 0.541);
    border-radius: 6px;
    height: 20px;
    width: 90px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color:  black;
    cursor: pointer;
}

.detail{

    background-color: rgb(252, 142, 252);
    border: solid black 4px;
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-radius: 10px;
}